  <!-- Barra de menu -->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">merakiVE</a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a></li>
        <li><a [routerLink]="['/api']" [routerLinkActive]="['active']">Generar API</a></li>
        <li><a [routerLink]="['/routine']" [routerLinkActive]="['active']">Generar Rutina</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a></li>
        <li><a [routerLink]="['/api']" [routerLinkActive]="['active']">Generar API</a></li>
        <li><a [routerLink]="['/routine']" [routerLinkActive]="['active']">Generar Rutina</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <!-- Fin barra de menu -->

  <section id="main" class="col-md-12">
    <!-- Component Current -->
    <router-outlet></router-outlet>
    
  </section>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        
        <div class="col l6 s12">
          <h5 class="white-text">merakiVE</h5>
          <p class="grey-text text-lighten-4">Somos un equipo de desarrolladores que tiene como objetivo brindar soluciones verdaderas a los problemas que se presentan en nuestra actual sociedad.</p>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Juntos hacemos mas</h5>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Contactos</h5>
          <ul>
            <li><a class="white-text" href="#!">Github</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">LinkedIn</a></li>
          </ul>
        </div>


      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      Made by <a class="black-text text-lighten-3" href="http://github.com/merakiVE.com">merakiVE</a>
      </div>
    </div>

  </footer>